<div class="tabs-layout">
  <main class="tab-content">
    <router-outlet></router-outlet>
  </main>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" [routerLink]="['/dashboard']" routerLinkActive="tab-selected">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="products" [routerLink]="['/products']" routerLinkActive="tab-selected">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orders" [routerLink]="['/orders']" routerLinkActive="tab-selected">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" [routerLink]="['/settings']" routerLinkActive="tab-selected">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>
